<div *ngIf="deleteMsg" class="notification success">
  {{ deleteMsg }}
</div>

<!-- Modal of deletion recipe -->
<div class="modal_backdrop" *ngIf="showDeleteModal">
  <div class="modal">
    <h3>Delete Recipe</h3>
    <p>Are you sure you want to delete this recipe?</p>
    <div class="modal_actions">
      <button (click)="confirmDelete()" class="btn btn_danger">
        Yes Delete
      </button>
      <button (click)="cancelDelete()" class="btn btn_secondary">Cancel</button>
    </div>
  </div>
</div>

<div *ngIf="recipe; else loading" class="details">
  <div class="details_content">
    <div class="text_section">
      <h4 class="ingredients_title">Ingredients</h4>
      <ul class="ingredients">
        <li *ngFor="let ingredient of recipe.ingredients">
          <span>{{ ingredient.name }} {{ ingredient.amount }}</span>
        </li>
      </ul>

      <h4 class="instructions_title">Recipe preparation steps</h4>
      <ul class="instructions">
        <li *ngFor="let step of recipe.instructions">{{ step }}</li>
      </ul>

      <div class="actions">
        <a [routerLink]="['/recipe-edit', recipe.id]" class="edit_btn">Edit</a>
        <button (click)="openDeleteModal(recipe.id)" class="delete_btn">
          Delete
        </button>
      </div>
    </div>

    <div class="image_section">
      <img [src]="recipe.thumbnail" alt="{{ recipe.title }}" />
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="loading_message">Loading recipe...</p>
</ng-template>
