.recipe {
  width: 450px;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe img {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.recipe h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.recipe p {
  font-size: 0.9rem;
  color: #555;
  letter-spacing: 1px;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .recipe {
    width: 100%;
  }
}
