.recipe {
  width: 450px;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe img {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.recipe h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.recipe p {
  font-size: 0.9rem;
  color: #555;
  letter-spacing: 1px;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .recipe {
    width: 100%;
  }
}
.favourite_btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.favourite_btn .icon {
  transition: color 0.3s;
}

.favourite_btn .filled {
  color: rgb(14 152 217);
}
.favourite_btn .empty {
  color: #bbb;
}

.favourite_btn:hover .empty {
  color: rgb(14 152 217);
}

.favourite_btn:hover .filled {
  color: rgb(14 152 217);
}
