<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title" />
  <input type="text" formArrayName="description" />
  <div formArrayName="ingredients">
    <div
      *ngFor="let ing of ingredients.controls; let i = index"
      [formGroupName]="i"
    >
      <input type="text" formControlName="name" />
      <input type="text" formControlName="amount" />
      <button type="button" (click)="removeIngredient(i)">Remove</button>
    </div>
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
  </div>

  <div formArrayName="instructions">
    <div *ngFor="let inst of instructions.controls; let i = index">
      <input type="text" [formControlName]="i" />
      <button type="button" (click)="removeInstruction(i)">Remove</button>
    </div>
    <button type="button" (click)="addInstruction()">Add instruction</button>
  </div>
  <input type="text" formArrayName="thumbnail" readonly />

  <div *ngIf="recipeForm.get('thumbnail')?.value">
    <img
      [src]="recipeForm.get('thumbnail')?.value"
      alt="Thumbnail"
      width="200"
    />
  </div>

  <button type="submit">Save</button>
</form>
