<form>
  <div class="title">
    <label for="title">Enter Title</label>
    <input type="text" name="title" id="title" />
  </div>
  <div class="desc">
    <label for="desc">Enter Description</label>
    <input type="text" name="desc" id="desc" />
  </div>
  <div class="ingredients">
    <label for="ingredients">Enter Ingredients</label>
    <input type="text" name="ingredients" id="ingredients" />
  </div>
  <div class="instructions">
    <label for="instructions">Enter instructions</label>
    <input type="text" name="instructions" id="instructions" />
  </div>
  <div class="thumbnail"></div>
</form>
